{% extends 'grades/base.html' %}

{% block content %}
<div class="container mt-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Courses</th>
                <th>Grade</th>

            </tr>
        </thead>
        <tbody>
            {% for contact in page_obj %}
                <tr>
                    <td>{{ contact.student }}</td>
                    <td>{{ contact.course }}</td>
                    <td>{{ contact.grade }}</td>

                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No contacts available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination" align="center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
